*{
    --txt-color:white;
    --nav-background-color:linear-gradient(to left, rgb(224 115 247 / 90%), rgb(12 178 230 / 90%));
    // --nav-background-color:linear-gradient(to right,#FF512F  , #DD2476 );
}
:root{
    --translate-indictor-value:0;
}
.nav-bar{
    width: 100%;
    height: 77px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-background-color);
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo-section{
    text-align: center;
    margin-left: 15px;
    h3{
        color: white;
    }
}
.links-section, .login-section{
     ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        li{
            list-style: none;
            a{
                padding: 15px;
                border-radius: 15px;
                text-decoration: none;
                font-size: 1.1em;
                font-weight: 500;
                letter-spacing: 1.8px;
                color: var(--txt-color);
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }
        li:hover{
            scale: 1.019;
            transition: .5s;
            // background-color: rgba(255, 255, 255, 0.651);
                a{
                    color: black;
                    svg{
                        color: black !important;
                    }
                }
        }
    }
}

// .login-section{
//      ul{
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         margin: auto;
//         li{
//             list-style: none;
//             a{
//                 border-radius: 15px;
//                 padding: 15px;
//                 text-decoration: none;
//                 font-size: 1.2em;
//                 font-weight: 500;
//                 letter-spacing: 1.8px;
//                 color: var(--txt-color);
//             }
//         }
//         li:hover{
//             scale: 1.019;
//             transition: .5s;
//             // background-color: rgba(255, 255, 255, 0.651);
//             a{
//                 color: black;
//             }
//         }
//     }
// }
.menu-section{
    display: none;
    position: relative;
    right: 10px;
    z-index:999 ;
    cursor: pointer;
    // outline: solid;
    .bar{
        display: block;
        margin-bottom: 8px;
        width: 40px;
        height: 5px;
        border-radius: 20px;
        background-color: var(--txt-color);
    }
   
}
.menu-section-active{
    .bar:nth-child(1){
        rotate: 45deg;
        transition: .5s;
        transform-origin: top left;
    }
.bar:nth-child(2){
    display: none;
    transition: .1s;
}
.bar:nth-child(3){
    transform: translateY(-20px) ;
    rotate: -45deg;
    transition: .5s;
    transform-origin: top right;

}
}
.toggle-display-menu{
    display: flex !important;
    animation: show-menu .5s 1 normal ease-in forwards;
}
@keyframes show-menu {
    0%{transform: translateY(-100%);}
    100%{transform: translateY(0px);}
}































.indicator{
    display: none;
    background: white;
    // animation: tr9i3a-dakhla 1s ease 1 forwards  ;
    width: 50px;
    aspect-ratio: 1;
    position: absolute;
    top:0;
    border-radius: 5px;
    translate: var(--translate-indictor-value) ;
    transition: 1s;
}

.active-link{
    // position: relative;
    color: black !important;
    background-color: whitesmoke;

}

























@media (max-width: 850px){
    .menu-section{display: block;}

.container{
    display: none;
    flex-direction: column;
    background: var(--nav-background-color);
    position: absolute;
    top:76px;
    right: 0;
    width: 100%;
    z-index: 9;
    border-radius: 0 0 20px 20px;
    .links-section ul, .login-section ul{
        flex-direction: column;
    }
    .login-section{
        flex-direction: column;
    }
    .login-section ul li {
        padding: 15px;
    }
    .links-section ul li {
        padding: 15px;
    }
}
}
