<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Login Form </h2>
    <label>E-mail</label>
    
    <input type="email" name="email" formControlName="email" required 
    [class]="(form.controls['email'].invalid && form.controls['email'].touched) ? 'red-border' : ''"
    />
    <span class="error" 
    *ngIf=" isTouched('email') && checkError('email','required')"
    >E-mail is required !  </span>

    <span class="error"
    *ngIf="isTouched('email') && checkError('email','email')"
    >Provide a valid Email !</span>


    <label>Password</label>
    <div class="password-container">
    <input [type]="isPassword ?'password' : 'text' " name="password" formControlName="password" required 
    [class]="(form.controls['password'].invalid && form.controls['password'].touched) ? 'red-border' : ''"
    />
    <span id="showP" (click)="togglePassword()" [innerHTML]="isPassword ? svgToHtml(eyeCloseSvg) : svgToHtml(eyeOpenSvg)"></span>    
    </div>
    <span class="error" 
    *ngIf=" isTouched('password') && checkError('password','required')"
    >Password is required !  </span>

    <span class="error"
    *ngIf="isTouched('password') && checkError('password','minlength')"
    >Password should be greater or equal to 8 characters !</span>
    <button type="submit" [disabled]="!form.valid">Login</button>

</form>