
<!-- <h1>
  Yeaaaah I'm coming Back ANGULAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAR
</h1> -->
<!-- <a routerLink="login" routerLinkActive="active-link" class="link">Login</a>
  <a routerLink="signup" routerLinkActive="active-link" class="link">Sign-Up</a> -->
// Lines added in Github for clarity :
<h3>Responsive Application built by <strong> KHALID KHIAR</strong><br>
    You can view the source code on <strong>Github</strong>
    here : 
    
        <a href="https://github.com/KHALID-KHIAR/E-commerce-Project-Front-End-Angular" target="_blank">Front-End</a>
        <a href="https://github.com/KHALID-KHIAR/E-commerce-Project-Back-End-Spring-Boot" target="_blank">Back-End</a>
        
    </h3>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
